rsa==3.4.2
PyJWT==1.7.1
social-auth-core==0.2.1
Django==1.11.28
oauth==1.0.1
oauth2==1.5.211
oauth2client==1.4.12
oauthlib==2.0.0
python-social-auth==0.3.6
social-auth-app-django==0.1.0
requests==2.11.1
requests-oauth2==0.2.0
requests-oauthlib==0.6.1
# mysql-python
ipython==5.10.0
djangorestframework==3.9.4
numpy==1.16.6